body {
  background-image:url(./Img/Misericordia.jpeg);

}
h3 {
  background-color: aliceblue;
}

p {
  background-color: aliceblue;
}
.contenedorpadre {
  position: relative;
  width: 1000px;
  height: 200px;
}

.contenedorhijo {
  width: 400px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  background-color: #3FB3E8;
  text-align: center;
}