body {
  background-image: url(../Img/Misericordia.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h3 {
  background-color: aliceblue;
  font-weight: bold;
}

p {
  background-color: aliceblue;
}

.contenedorpadre {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: relative;
  width: 70%;
  height: 290px;
  display: flex;
  justify-content: space-between;
}

.contenedorhijo {
  width: 45%;
  position: relative;
  height: 180%;
  top: 30%;
  left: 50%;
  margin: -25px 0 0 -25px;
  background-color: #3fb3e8;
  text-align: center;
  border: 3px solid black;
  border-radius: 2%;
}

.contenedorhijo input[type="text"] {
  color: black;
  width: 60%;
  padding: 2%;
  margin-bottom: 5px;
  border: 3px solid #4c6e6d;
  border-radius: 5px;
}

.contenedorhijo button[type="submit"] {
  color: black;
  background-color: #2dede9;
  width: 30%;
  padding: 1%;
  margin-top: 1%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contenedorhijo button[type="submit"]:hover {
  background-color: #4c6e6d;
  color: white;
}
#resultadoContainer {
  width: 33%;
  height: 50%;
  position: absolute;
  top: 40%;
  left: 33%;
  margin-top: 16%;
  background-color: #9dd4ee;
  text-align: center;
  border: 3px solid black;
  border-radius: 5%;
  display: none;
  margin: 0px 50 50 0px;
}
#imagenResultado {
  width: 60%;
}
